.nav-sidebar {
	height: 100%;
	.sidebar-inner {
		height: 100%;
	}

	.sidebar-item {
		position: relative;
		& > [class~='menu-anchor'] {
			transition: 0.25s var(--theme-timing-function);
		}
		&[class~='active'] > [class~='menu-anchor'] {
			background-color: var(--theme-primary);
			color: #fff;
		}

		a::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}
	}
}
