.button {
	--button-background: var(--theme-primary);
	--button-background-hover: var(--theme-primary-hover);
	--button-border: transparent;
	--button-border-radius: 0.25rem;
	--button-text: var(--bs-white);
	--button-text-hover: var(--bs-white);

	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0.25rem 1rem;
	min-width: 120px;
	font-size: 0.875rem;
	color: var(--button-text);
	background-color: var(--button-background);
	border: 1px solid var(--button-border);
	border-radius: var(--button-border-radius);
	transition-duration: 350ms;
	transition-property: color, background-color, border-color;
	transition-timing-function: var(--theme-timing-function);

	&[data-button~='secondary'] {
		--button-background: var(--bs-gray-500);
		--button-background-hover: #565e64;
	}

	&[data-button~='danger'] {
		--button-background: var(--bs-danger);
		--button-background-hover: #a52834;
	}

	&[data-button~='warning'] {
		--button-background: #ffc107;
		--button-background-hover: #ffca2c;
		--button-text: #000000;
		--button-text-hover: #000000;
	}

	&[data-button~='dark'] {
		--button-background: #282829;
		--button-background-hover: rgba(40, 40, 41, 0.8);
		--button-text: var(--bs-white);
	}

	&[data-button~='outline'] {
		--button-background: var(--bs-white);
		--button-background-hover: #000000;
		--button-text: #000000;
		--button-border: #000000;
		--button-border-radius: 0;
	}


	&[data-button~='sm'] {
		min-width: 60px;
		font-size: var(--theme-font-size-8);
		padding: 0.25rem 0.5rem;
	}

	&[data-button~='md']{
		min-width: 120px;
		padding: 0 1.5rem;
		font-weight: 400;
		height: 2.5rem;
	}

	&[data-button~='active'],
	&[data-button~='loading'],
	&:hover {
		background-color: var(--button-background-hover);
		color: var(--button-text-hover);
	}

	&[disabled],
	&[data-isloading=true] {
		pointer-events: none;
	}

	> &[data-button~='loading'].button-title {
		margin: 0 0.25rem;
	}

	> .button-circle {
		display: inline-block;
		width: 0.75rem;
		height: 0.75rem;
		margin-right: 0.25rem;
		background-color: transparent;
		border: 2px solid rgba(225, 255, 255, 0.95);
		border-left-color: transparent;
		border-radius: 50%;
		animation: circleSpin 1s linear infinite;
	}
}

@keyframes circleSpin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

