.page-auth {
	.page-auth__wrapper {
		height: 100vh;
		max-height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	.page-auth__main {
		padding-top: 200px;
	}

	.page-auth__form {
		max-width: 320px;
		margin: 0 auto;

		.auth-form__title,
		.auth-form__subtitle {
			text-align: center;
		}

		.auth-form__title {
			font-size: var(--theme-font-size-3);
			font-weight: 600;
			margin-bottom: 1.5rem;
		}
		.auth-form__subtitle {
			font-size: var(--theme-font-size-6);
			font-weight: 400;
			margin-bottom: 1.25rem;
		}

		.auth-form__body + .auth-form__footer,
		.auth-form__group + .auth-form__group {
			margin-top: 1.25rem;
		}

		.auth-form__group .form-group .form-control {
			padding: 0.5rem 1rem;
		}

		.footer-separation {
			display: grid;
			grid-template-columns: 1fr auto 1fr;
			align-items: center;
			grid-gap: 0 0.5rem;
			color: var(--bs-gray-700);
			font-weight: 400;

			&::after,
			&::before {
				content: '';
				display: inline-block;
				height: 1px;
				background-color: currentColor;
			}
		}
	}
}
