.admin .admin-container .admin-sidebar {
	.nav-sidebar {
		height: 100%;
		.sidebar-inner {
			height: 100%;
		}

		.sidebar-item {
			position: relative;

			a::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
			}
		}
	}
}
