.question {
  .question-header {
    margin-bottom: 1.25rem;
    .question-media {
      max-width: 240px;
      margin: 0 auto;
    }
  }

  .question-body {
    padding: 0 1.25rem 1.25rem;
  }

  .question-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}