.image-field {
  .image-filed__wrapper {
    cursor: pointer;
    display: block;
  }

  .image-filed__preview {
    display: block;
    border-radius: 0.25rem;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--bs-gray-300);
    transition: 0.25s var(--theme-timing-function);
    &:hover {
      border-color: var(--bs-gray-500);
    }
    img {
      object-fit: cover;
    }
  }
}

@keyframes spin360 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.loading {

}
