.field-question {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 0.5rem;
	padding-bottom: 1.25rem;

	& + & {
		border-top: 1px solid var(--bs-gray-300);
		padding: 1rem 0 1.25rem 0;
	}

	&__title {
		font-weight: 700;
		font-size: var(--theme-font-size-7);
		margin-bottom: 0.25rem;
	}

	&__header {
		display: flex;
		position: relative;
		padding-bottom: 1.25rem;

		> * {
			flex-shrink: 0;
		}

		> .form-group {
			flex-grow: 1;

			input {
				font-size: 0.875rem;
			}

			input:focus,
			input:hover {
				outline: none;
				box-shadow: none;
				border-color: var(--bs-primary);
			}

			input,
			input::placeholder {
				font-size: var(--theme-font-size-7);
			}
		}
	}

	&__action {
		padding-left: 0.5rem;
		display: flex;
		gap: 0.5rem;
		position: relative;

		label,
		button {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 2.375rem;
			height: 100%;
			outline: none;
			border: none;
			border-radius: 0.25rem;
			color: var(--bs-white);
			background-color: var(--theme-primary);
			transition: all 0.35s var(--theme-timing-function);

			&:hover {
				color: var(--bs-white);
				background-color: var(--theme-primary-hover);
			}

			&[disabled] {
				pointer-events: none;
				user-select: none;
				opacity: 0.75;
			}
		}
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		position: relative;
	}

	&__answer {
		display: grid;
		grid-template-columns: 2.375rem 1fr auto;
		grid-gap: 0.5rem;
		padding-bottom: 1.25rem;
		position: relative;
	}

	&__answer > &__action {
		padding-left: 0;
	}

	.invalid-message {
		flex-grow: 1;
		position: absolute;
		display: block;
		bottom: 0.125rem;
		left: 0.25rem;
		font-size: 0.75rem;
		font-weight: 300;
		color: var(--bs-danger);
		width: 100%;
	}
}
