.modal {
	--modal-padding: 1.25rem;
	--modal-title: 1.25rem;

	&[data-modal~='md'] {
		--modal-padding: 0.75rem;
		--modal-title: 1rem;
	}

	[class~='modal-content'] {
		[class~='modal-header'] [class~='modal-title'] {
			font-size: var(--modal-title);
		}

		[class~='modal-footer'],
		[class~='modal-header'],
		[class~='modal-body'] {
			padding: var(--modal-padding);
		}
	}
}
