.quiz {
  .quiz-header {
    margin-bottom: 1.25rem;
    .quiz-media {
      max-width: 240px;
      margin: 0 auto;
    }
  }

  .quiz-body {
    padding: 0 1.25rem 1.25rem;
  }

  .quiz-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}