.alert-enter {
  opacity: 0;
  transform: translate3d(0, -0.125rem, 0);
}
.alert-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translate3d(0, -0.125rem, 0);
  transition: opacity 300ms, transform 300ms;
}