:root {
	--theme-primary: #4099ff;
	--theme-primary-hover: var(--bs-blue);
	--theme-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--theme-cyan-600: rgb(8 145 178);
	--theme-sky-600: rgb(2 132 199);
	--theme-sky-900: rgb(12 74 110);
	--theme-gray-900: rgb(17 24 39);
	--theme-gray-200: rgb(229 231 235);
	--theme-neutral-50: rgb(250 250 250);
	--theme-white: #ffffff;

	--theme-spacing: 0.25rem;
	--theme-leading-title: 1.3;
	--theme-leading-body: 1.5;

	--theme-font-serif: Roboto, sans-serif;
	--theme-font-size-base: 0.875rem;
}

body {
	font: 500 var(--theme-font-size-base) / var(--theme-leading-body) var(--theme-font-serif);
	color: var(--theme-gray-900);
}

img,
video {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.app {
	.app-header {
		position: relative;
		z-index: 10;
	}

	.app-container {
		position: relative;
		z-index: 1;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

li,
ol {
	list-style: none;
	margin-bottom: 0;
	padding: 0;
}

button {
	outline: none;
	box-shadow: none;
}

.modal {
	.modal-content {
		.modal-header {
			padding: 0.75rem;
		}
		.modal-body {
			padding: 1.25rem;
		}
		.modal-title {
			font-size: 1.25rem;
		}
	}
	.btn-close:focus {
		box-shadow: none;
	}
}

@keyframes circleSpin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes spin360 {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}
